# Server
PORT=
GIN_MODE=


SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

DATABASE_URL=

# Anthropic - za AI chat
#ANTHROPIC_API_KEY=sk-ant-...

JWT_SECRET=

# CORS - tvoj Next.js frontend URL
ALLOWED_ORIGINS=http://localhost:3000